.newslater-background{
    background:#4B2A5D ;
    margin-top: 5%;
}

.newslater-content{
    display: flex;
    justify-content: space-around;
    padding: 3%;
    margin: auto;
    max-width: 1200px;
}
.newslater-left h3{
    font-size: 20px;
    color: bisque;

}
.newslater-left span{
    font-size: 13px;
    color: bisque;

}
/* .newslater-search-field{
    width: 30%;
} */
.search-field{
    padding: 3px 10px 3px 5px;
    
    border-right: none;
    border-radius: 40px 0 0 40px;
    width: 60%;
   text-align: right;
}
.subscribe-btn{
    padding: 4px 10px;
    border-left: none;
    background-color: #a12559d1;
    color: bisque;
    border-radius: 0px 40px 40px 0;
    border: none;
   margin-left: -.3rem;
    
}










/* //----footer..................... */


.top-footer{
    background: #d6dbdfe6;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.top-footer-container{
    max-width: 1350px;
    margin: auto;
    padding: 5% 3%;
}
.logo{
    width: 150px;
    height: auto;
}
.footer-paragraph{
    font-size: 13px;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 1.5rem;

}
.footer-menu{
    display: flex;
    flex-direction: column;
}
.footer-heading{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .8rem;

}
.footer-link{
    font-size: 13px;
    text-decoration: none;
    padding: .4rem 0;
    color: rgba(0,0,0,0.6);
}
.footer-location{
    font-size: 13px;
}
.icon{
    color:#a12559d1 ;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: -5px;
}


/* .........last-footer... */

.last-footer{
    background: #d6dbdfe6;
    padding: 3% 0;
}
.last-footer-menu{
    display: flex;
    margin: auto;
    justify-content: center;
}
.last-footer-link{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    margin: 0 10px;
    padding: 0 10px 0 0;
    
}
.footer-text{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
    margin: 1rem 0;
    letter-spacing: 1px;

}
.footer-name{
    color:#a12559d1 ;
    font-weight: 700;

}
.pay-icon{
    display: flex;
    justify-content: center;
}
.pay-menu{
    padding: 0 10px;
    font-size: 35px;
    color: black;
}
.pay-menu:hover{
  
    color:#a12559d1 ;
}









@media only screen and (max-width:1200px){

   

}
@media only screen and (max-width:900px){

    .newslater-content{
        display: flex;
      flex-direction: column;
     
      justify-content: center;
      align-items: center;
     
       
    }
    .subscribe-btn{
        padding: 4px 10px;
       
       margin-left: -.2rem;
        
    }

}

