.newslater-background{
    background:#4B2A5D ;
    margin: 5% 0;
}

.newslater-content{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    margin: auto;
    max-width: 1300px;
}
.newslater-left h3{
    font-size: 20px;
    color: bisque;

}
.newslater-left span{
    font-size: 13px;
    color: bisque;

}
.newslater-search-field{
    width: 30%;
}
.search-field{
    padding: 7px 10px;
    
    border-right: none;
    border-radius: 40px 0 0 40px;
    width: 70%;
}
.subscribe-btn{
    padding: 7px 17px;
    border-left: none;
    background-color: #a12559d1;
    color: bisque;
    border-radius: 0px 40px 40px 0;
    border: none;
   margin-left: -.2rem;
    
}


@media only screen and (max-width:1200px){
    
}

