.newslater-background{
    background:#4B2A5D ;
    margin: 5% 0;
}

.newslater-content{
    display: flex;
    justify-content: space-around;
    padding: 3%;
    margin: auto;
    max-width: 1200px;
}
.newslater-left h3{
    font-size: 20px;
    color: bisque;

}
.newslater-left span{
    font-size: 13px;
    color: bisque;

}
/* .newslater-search-field{
    width: 30%;
} */
.search-field{
    padding: 3px 10px 3px 5px;
    
    border-right: none;
    border-radius: 40px 0 0 40px;
    width: 60%;
   text-align: right;
}
.subscribe-btn{
    padding: 4px 10px;
    border-left: none;
    background-color: #a12559d1;
    color: bisque;
    border-radius: 0px 40px 40px 0;
    border: none;
   margin-left: -.3rem;
    
}


@media only screen and (max-width:1200px){

   

}
@media only screen and (max-width:900px){

    .newslater-content{
        display: flex;
      flex-direction: column;
     
      justify-content: center;
      align-items: center;
     
       
    }
    .subscribe-btn{
        padding: 7px 10px;
       
       margin-left: -.2rem;
        
    }

}

