

.products-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  
   
  margin: auto;
}
.button {
   
    padding: 10px 15px;
    font-size: 11px;
    text-transform: uppercase;
    
    font-weight: 600;
    color: rgba(255, 255, 255, 0.79);
    background-color: #A12559;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
    .price{
        font-size: 20px;
        color: black;
    }
  
    .product-background{
        background: rgba(221, 221, 221, 0.271);
        padding: 1.5rem;
    }
    .sm-table{
        display: none;
    }
   
   



    @media only screen and (max-width:1150px) {
        .products-container{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @media only screen and (max-width:991px) {
        .products-container{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media only screen and (max-width:767px) {
        .products-container{
            grid-template-columns: repeat(1,1fr);
            margin: auto;
            padding: 0 1rem;
        }
    }
  
    @media only screen and (max-width:575px) {
       .lg-table{
        display: none;
       }
       .sm-table{
        display: block;
       }
       .cateogory-btn{
       
        padding: 10px 20px;
        color: rgba(0, 0, 0, 0.52);
        background-color: white;
       
        border: 1px solid rgba(128, 128, 128, 0.493);
       margin: 5px 10px;
    }
    }
  